<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>MaxLite Monthly Minute</title>
  <style type="text/css"></style>
</head>

<body>
  <table border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td style="text-align: center; font-size:12px; font-family: Arial, Helvetica, sans-serif;" height="35"> If you are
        having trouble viewing this click <a
          href="https://www.maxlite.com/maxliteminute/MaxliteMinute_February2019.html">here</a> for an online version.
      </td>
    </tr>

    <tr>
      <td width="700" align="center" valign="top" bgcolor="#FFFFFF"><img src="images/Monthly-HeaderG.jpg" width="700"
          height="194" alt="" />
        <table style="font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 18px;
	color:#000;
	text-align: left;" width="700" border="0" cellspacing="0" cellpadding="0px">
        {% for keep in keepers %}
          <tr>
            <td width="700" valign="top">

                    {{keep}}

            </td>
          </tr>

          <tr>
            <td height="40px"><img src="images/MonthlyLineDivider.jpg" width="700" height="15" alt="" /></td>
          </tr>
        {% endfor %}

      <td width="700" valign="top">
        <table width="700" border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff">
          <tr>
            <td valign="top"><img src="images/MakingHeadlines_345m.jpg" width="345" height="62" alt="" />
              <strong><u>PRODUCTS</u></strong><br><br>
              <strong>Indirect LED Troffer</strong><br>
              <a style="text-decoration: none; color: #009639; font-weight: bold"
                href="http://www.electricalindustry.ca/product-news/5162-maxlite-launches-indirect-troffer-for-architectural-interior-lighting-applications">Electrical
                Industry Canada</a><br><br>
              <strong>
                TriMax named Top 10 Product Pick</strong>
              <br>
              <a style="text-decoration: none; color: #009639; font-weight: bold"
                href="https://www.ecmweb.com/product-sourcing-supply/electrical-wholesalings-top-10-products-february-2019/gallery?slide=7">Electrical
                Wholesaling</a><br><br>
              <strong>
                MaxLite earns design patent for TriMax</strong>
              <br>
              <a style="text-decoration: none; color: #009639; font-weight: bold"
                href="https://www.facilitiesnet.com/site/pressreleases/LED-Fixture-Earns-US-Design-Patent--43129">Facilitiesnet</a><br>
              <a style="text-decoration: none; color: #009639; font-weight: bold"
                href="https://electricalnews.com/maxlite-earns-patent-for-design-of-trimax-vapor-tight-fixture/">Electrical
                News</a><br>
              <br>
              <strong>
                Spencer Bolgard named president and chief operating officer</strong>
              <br>
              <a style="text-decoration: none; color: #009639; font-weight: bold"
                href="https://www.retrofitmagazine.com/maxlite-names-spencer-bolgard-as-president-and-chief-operating-officer/">Retrofit
                Magazine</a><br>
              <a style="text-decoration: none; color: #009639; font-weight: bold"
                href="https://news.thomasnet.com/companystory/maxlite-appoints-spencer-bolgard-as-president-and-chief-operating-officer-40019318">Thomasnet</a>



            </td>
            <td width="10px">&nbsp;</td>
            <td valign="top"><img src="images/NewOnTheWeb_345m.jpg" width="345" height="57" alt="" /> <strong>Data Sheet
              </strong><span style="color:red"><strong>New</strong></span><br>

                 {% for d in datasheets %}
              • {{d}} <br>
                 {% endfor %}



              <br>
              <strong>Product Pages</strong> <span style="color:red"><strong>New</strong></span> <br>
                {% for p in product_page %}
                 • {{p}} <br>
                {% endfor %}
              <br>
            </td>
          </tr>
        </table>
        <table width="700" border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff">
          <tr>
            <td align="center" valign="top" class="pCopycenter"><img
                src="http://resource.maxlite.com/_EBData_/201407/234/MaxLiteMinute.DividerLine.jpg" width="700"
                height="35" alt="Line" /><br>
              <p> Find us on:<br>
                <a href="http://www.facebook.com/pages/MaxLite/122602531129161"><img src="images/FaceBookGray.png"
                    style="border-style: none" width="29" height="35" alt="" /></a><a
                  href="https://twitter.com/#!/maxlite"><img src="images/TwitterGray.png" style="border-style: none"
                    width="42" height="35" alt="" /></a><a href="http://www.youtube.com/maxlitenewsroom"><img
                    src="images/YoutubeGray.png" style="border-style: none" width="54" height="35" alt="" /></a><a
                  href="http://www.linkedin.com/company/maxlite"><img src="images/linkedInGray.png"
                    style="border-style: none" width="33" height="35" alt="" /></a>&nbsp;&nbsp;&nbsp;</p>
              <p>For more information on these or any MaxLite products, please contact your Inside Sales Manager, <br>
                or contact MaxLite directly at&nbsp;<a href="mailto: marketing@maxlite"
                  class="copy">info@maxlite.com</a>.</p>
              <p>
                <strong>MaxLite:</strong>&nbsp;<strong>1-800-555-5629</strong>&nbsp;&nbsp;<strong>|</strong>&nbsp;&nbsp;<a
                  href="http://www.maxlite.com" target="_blank"
                  class="copy">www.maxlite.com</a>&nbsp;&nbsp;<strong>|</strong>&nbsp;&nbsp;<a
                  href="mailto:info@maxlite.com" target="_blank" class="copy">info@maxlite.com</a></p>
              <p><img src="http://resource.maxlite.com/_EBData_/201407/234/MaxLiteMinute.DividerLine.jpg" width="700"
                  height="35" /></p>
              <p>We hope you found this message to be useful. You can also view MaxLite's communications using the
                MaxLite Minute option on our Representative Resources page.</p>
              <br>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  </td>
  </tr>
  </table>
</body>

</html>